APP_HTTP_ADDR=

# PostgreSQL
APP_POSTGRES_USER=
APP_POSTGRES_PASS=
APP_POSTGRES_HOST=
APP_POSTGRES_PORT=
APP_POSTGRES_DB=
APP_POSTGRES_SSL_MODE=

# Redis
APP_REDIS_ADDR=
APP_REDIS_PASSWORD=
APP_REDIS_DB=0

# Retry settings
APP_BASE_RETRY_DELAY=
APP_MAX_RETRY=
